<h1>Data Science Tools and Ecosystem</h1>

**Objectives:**
<ul>
  <li>List popular languages for Data Science</li>
  <li>Create a code cell to convert minutes to hours</li>
  <li>Create a code cell to multiply and add numbers</li>
  <li>Create a markdown cell introducing arithmetic expression examples</li>
  <li>Create a markdown cell with a table of Data Science tools</li>
</ul>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
  <li>Pandas (Python)</li>
  <li>ggplot2 (R)</li>
  <li>NumPy (Python)</li>
</ol>

<table border="1">
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

<h2>Author</h2>
Maria Clara Fleitas